.home-container {
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.home-card {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 20px;
  height: 365px;
}

.home-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 60px 10px;
}

.home-content-container h1 {
  width: 260px;
  font-size: 1em;
  margin-bottom: 15px;
  color: #fff;
}

.home-content-container p {
  width: 260px;
  color: #fff;
  font-size: 14px;
  margin-bottom: 30px;
}

.home-image-container {
  display: flex;
  justify-content: center;
}

.home-image-container svg {
  width: 244px;
  height: 146px;
}

.button-content-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 21px;
  height: 123px;
  background-color: #ededed;
  text-align: center;
}

.button-content-card p {
  margin-top: 9px;
  font-size: 16px;
}

@media (min-width: 576px) {
  .home-card {
    height: 365px;
  }
  .home-container {
    padding: 15px;
    font-size: 40px;
  }

  .home-content-container h1 {
    width: 506px;
    margin-bottom: 20px;
    font-size: 36px;
  }
  .home-content-container p {
    width: 420px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
  }

  .home-image-container svg {
    width: 333px;
    height: 199px;
  }

  .btn-catalog {
    margin-left: 85px;
  }

  .text-catalog {
    margin-left: 16px;
  }

  .button-content-card {
    flex-direction: row;
    align-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .home-card {
    height: 475px;
  }
  .home-content-container {
    padding: 20px 20px 100px 20px;
  }
  .home-image-container svg {
    margin-top: 79px;
  }
  .btn-catalog {
    margin-left: 121px;
  }
}

@media (min-width: 992px) {
  .home-container {
    font-size: 55px;
    padding: 40px;
  }
  .home-card {
    height: 579px;
  }
  .home-image-container svg {
    width: 455px;
    height: 272px;
  }
  .home-content-container h1 {
    width: 700px;
    margin-bottom: 26px;
  }
  .home-content-container p {
    width: 420px;
    margin-bottom: 47px;
  }
}

@media (min-width: 1200px) {
  .home-card {
    height: 365px;
    flex-direction: row;
    justify-content: space-around;
    padding: calc(((85vh - 480px) / 2) - 30px) 0;
  }
  .home-content-container {
    height: 480px;
    width: 700px;
    align-items: flex-start;
    text-align: left;
    align-content: space-between;
    flex-flow: wrap;
    padding: 20px;
  }
  .home-image-container {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .home-image-container svg {
    width: 100%;
  }
}
