.input-text-container {
    display: flex;
    align-items: center;
}

.btn-search button {
    border-radius: 0 5px 5px 0;
    color: #fff;
    font-size: 14px;
    align-items: center;
    text-align: center;
    width: 77px;
    height: 40px;
}

.input-text-container input {
    border-radius: 5px 0 0 5px;
    border: 0;
    font-size: 14px;
    font-weight: 400;
    color: #A7A7A7;
    width: 200px;
    height: 40px;
}