.btn-container {
  display: flex;
  width: 174px;
}

.btn-container button {
  border-radius: 5px;
  height: 40px;
}

.button-catalog h6 {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}

.button-catalog {
  margin-top: 28px;
  background-color: #00285F;
  border-color: #00285F;
}